version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: Painel.Investimento.API/Dockerfile
    container_name: painel_investimento_api
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - sqlserver
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=PainelDb;User Id=sa;Password=Gabriel@27;TrustServerCertificate=True;

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: painel_investimento_db
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Your_password123
    volumes:
      - sql_data:/var/opt/mssql

volumes:
  sql_data:
